---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE, POSTS } from "@/consts";
import { Image } from "astro:assets";

const allPosts: CollectionEntry<"posts">[] = await getCollection("posts");

const posts = allPosts.sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);

const title = `${SITE.TITLE} | ${POSTS.TITLE}`;
---

<BaseLayout title={title}>
  <section class="mb-16">
    <h1 class="text-4xl font-bold mb-2">{POSTS.TITLE}</h1>
    <p class="text-sm tracking-widest font-semibold ">
      {POSTS.DESCRIPTION}
    </p>
  </section>

  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        posts.map((post) => (
          <a
            href={`/posts/${post.id}`}
            class="group block overflow-hidden   transition-all"
          >
            {post.data.image ? (
              <Image
                src={post.data.image}
                alt={post.data.imageAlt || post.data.title}
                class="w-full h-full object-cover aspect-square"
                format="webp"
                quality="high"
              />
            ) : (
              /* Fallback if a post is missing an image */
              <div class="aspect-square flex items-center justify-center uppercase tracking-widest text-xs">
                {post.data.title}
              </div>
            )}
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
