---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  const allContent = [...projects];

  const allTags = [
    ...new Set(allContent.flatMap((item) => item.data.tags || [])),
  ];

  return allTags.map((tag) => ({
    params: { tag },
    props: {
      tag,
      projects: projects.filter((p) => (p.data.tags || []).includes(tag)),
    },
  }));
}

const { tag, projects } = Astro.props;
---

<BaseLayout title={`Tag: ${tag}`}>
  <a href="/tags" class=" hover:underline mb-8 block transition-colors">
    &larr; All Tags
  </a>

  <header class="mb-12">
    <h1 class="text-4xl font-bold">
      Filtered by <span class="tag-header-pill">#{tag}</span>
    </h1>
  </header>

  {
    projects.length > 0 && (
      <section class="mb-16">
        <h2 class="text-xl font-semibold mb-6 border-b">Projects</h2>
        <div class="space-y-8">
          {projects.map((project) => (
            <article>
              <a href={`/projects/${project.id}`} class="group block">
                <h3 class="text-xl font-semibold transition-colors">
                  {project.data.title}
                </h3>
                <p class="italic text-sm">{project.data.description}</p>
              </a>
            </article>
          ))}
        </div>
      </section>
    )
  }

</BaseLayout>