---
import { SITE, HOME } from "@/consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

const projects: CollectionEntry<"projects">[] = (await getCollection("projects")).sort(
  (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) => 
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const posts: CollectionEntry<"posts">[] = (await getCollection("posts")).sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) => 
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = `${SITE.TITLE} | ${HOME.TITLE}`;
---

<BaseLayout title={title}>
  <section class="mb-16">
    <h1 class="text-4xl font-bold mb-2">
      {SITE.TITLE}
    </h1>
    <p class="text-lg text-zinc-600">
      Crafting thoughtful solutions with code and bringing ideas to life with
      ink and watercolor.
    </p>
  </section>

  <section class="mb-16">
    <h2 class="text-2xl font-semibold mb-6 border-b border-zinc-200 pb-3">
      Recent Projects
    </h2>
    <div class="space-y-10">
      {
        projects.map((project) => (
          <article>
             <a href={`/projects/${project.id}`}>
                <h3 class="text-xl font-semibold mb-2">{project.data.title}</h3>
                <p class="text-zinc-600">{project.data.description}</p>
             </a>
          </article>
        ))
      }
    </div>
  </section>

  <section>
    <h2 class="text-2xl font-semibold mb-6 border-b border-zinc-200 pb-3">
      From the Studio
    </h2>
    {
      posts.map((post) => (
      <article>
         <a href={`/posts/${post.id}`}>
            <h3 class="text-xl font-semibold mb-2">{post.data.title}</h3>
            <p class="text-zinc-600">{post.data.description}</p>
         </a>
      </article>
      ))
    }
  </section>
</BaseLayout>
