---
import { SITE, HOME } from "@/consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = `${SITE.TITLE} | ${HOME.TITLE}`;
---

<BaseLayout title={title}>
  <section class="mb-16">
      <h1 class="text-4xl font-bold mb-2">{HOME.TITLE}</h1>
      <p class="text-sm tracking-widest font-semibold">
        {HOME.DESCRIPTION}
      </p>
  </section>

  <section class="mb-16">
    <div class="space-y-10">
      {
        projects.map((project) => (
          <article>
            <a href={`/projects/${project.id}`} class="group">
              <h3 class="text-xl font-semibold mb-2 transition-colors">
                {project.data.title}
              </h3>
              <p class="italic">{project.data.description}</p>
            </a>
            <div class="flex gap-3 mt-4">
              {(project.data.tags ?? []).map((tag) => (
                <a href={`/tags/${tag}`} class="tag-link">
                  #{tag}
                </a>
              ))}
            </div>
          </article>
        ))
      }
    </div>
  </section>
</BaseLayout>
